<!DOCTYPE html>
<html>
<head>
    <title>Breast Cancer Prediction</title>
</head>
<body>
    <h2>Breast Cancer Prediction</h2>
    <form action="/predict" method="post">
        <label>Clump Thickness:</label><input type="number" name="clump_thickness" required><br>
        <label>Uniformity of Cell Size:</label><input type="number" name="uniformity_cell_size" required><br>
        <label>Uniformity of Cell Shape:</label><input type="number" name="uniformity_cell_shape" required><br>
        <label>Marginal Adhesion:</label><input type="number" name="marginal_adhesion" required><br>
        <label>Single Epithelial Cell Size:</label><input type="number" name="single_epithelial_cell_size" required><br>
        <label>Bare Nuclei:</label><input type="number" name="bare_nuclei" required><br>
        <label>Bland Chromatin:</label><input type="number" name="bland_chromatin" required><br>
        <label>Normal Nucleoli:</label><input type="number" name="normal_nucleoli" required><br>
        <label>Mitoses:</label><input type="number" name="mitoses" required><br><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
